<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Timestamp Microservice</h2>
        <h3>A micro service built using Express that returns time stamp</h3>

          <p>The API endpoint is <code>GET https://boilerplate-project-timestamp.eliasferede.repl.co/api/timestamp/:date_string?</code></p>

        <h3>Example Usage:</h3>

          <p><a href="api/timestamp/05-24-1995">https://timestamp.eliasferede.repl.co/api/timestamp/05-24-1995</a></p>
          <p><a href="api/timestamp/801273600000">https://timestamp.eliasferede.repl.co/api/timestamp/801273600000</a></p>


        <h3>Example Output:</h3>
        <p>
          <code>{"unix":801273600000, "utc":"Wed, 24 May 1995 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Developed By <a href="https://github.com/EliasB8">Elias Ferede </a> &copy; 2020
        </p>
      </div>
   </body>

</html>
